body{
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	background: url(../img/bg.jpg);
	background-size: 100vh auto;
	background-position: top center;
	display: none;
}

.wrapper{
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.page-header{
	width: 100vw;
	text-align: center;
	color: white;
}

.card-container{
	border-radius: 2rem 2rem 0 0;
	background: rgba(255,255,255,0.95);
	position: absolute;
	top: 5rem;
	left: 0;
	right: 0;
	overflow: hidden;
	padding-top: 1rem;
	animation: load .5s ease-out;
}

.card{
	padding: .75rem 1rem;
	margin-top: 1rem;
	position: relative;
	border-bottom: 2px solid rgba(0,0,0,0.75);
}

.card-header{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.card-title, .card-link{
	font-size: 1.25rem;
	white-space: nowrap;
}

.card-link{
	background: black;
	color: white;
	padding: 1% 3.5% 2% 4%;
	border-radius: 1rem;
	transition: background .2s ease-in-out;
}

.card-link:hover, .card-link:active, .card-link:focus{
	background: white;
	color: black;
}

.material-icons{
	transform: translateY(.35rem);
}

.card-food-title{
	text-transform: capitalize;
}

@keyframes load{
	0%{
		transform: translateY(200%);
		opacity: 0;
	}

	50%{
		opacity: 1;
	}

	100%{
		transform: translateY(0);
		opacity: 1;
	}
}